In [143]:
import pandas as pd
import re

In [152]:
df = pd.read_csv("./Sentiment Analysis Dataset.csv", on_bad_lines="skip", encoding="utf-8")

In [153]:
df

,ItemID,Sentiment,SentimentSource,SentimentText
0,1,0,Sentiment140,is so sad for my APL frie...
1,2,0,Sentiment140,I missed the New Moon trail...
2,3,1,Sentiment140,omg its already 7:30 :O
3,4,0,Sentiment140,.. Omgaga. Im sooo im gunna CRy. I'...
4,5,0,Sentiment140,i think mi bf is cheating on me!!! ...
...,...,...,...,...
1578607,1578623,1,Sentiment140,Zzzzzz.... Finally! Night tweeters!
1578608,1578624,1,Sentiment140,"Zzzzzzz, sleep well people"
1578609,1578625,0,Sentiment140,ZzzZzZzzzZ... wait no I have homework.
1578610,1578626,0,Sentiment140,"ZzZzzzZZZZzzz meh, what am I doing up again?"
1578611,1578627,0,Sentiment140,"Zzzzzzzzzzzzzzzzzzz, I wish"

In [154]:
df = df.drop(['ItemID', 'SentimentSource'], axis = 1)

In [155]:
df_emoticon = pd.read_csv("./emoticon_dict.csv")

df_emoticon

    emoticon   meaning
0         ,*      kiss
1        ,-*      kiss
2         ,x      kiss
3        ,-)     happy
4       ,-))     happy
..       ...       ...
261      >,d     devil
262     >,-d     devil
263      o,<  surprise
264       o,  surprise
265     (-,o     angel

[266 rows x 2 columns]

In [156]:
df_abbreviations = pd.read_csv("./abbrevations.csv")

df_abbreviations

     abbreviation                    meaning
0               ?          I have a question
1             ?4U  I have a question for you
2              ;S   GeHmm? What did you say?
3              ^^               read message
4              <3             sideways heart
...           ...                        ...
1439           ZH              Sleeping Hour
1440         ZOMG                  Oh My God
1441          ZOT             Zero tolerance
1442          ZUP                 What’s up?
1443         ZZZZ                   Sleeping

[1444 rows x 2 columns]

In [157]:
value_count = df_abbreviations["abbreviation"].value_counts()

values_appearing_more_than_once = value_count[value_count > 1]

pd.set_option('display.max_rows', None)

print(values_appearing_more_than_once)

Series([], Name: count, dtype: int64)

In [158]:
pd.reset_option('display.max_rows')

In [159]:
import pandas as pd
import re

# Assuming df is your DataFrame

for i in range(df.shape[0]):

    if i in [100000, 250000, 500000, 750000, 1000000, 1250000, 1500000]:
        print(i) 

    sentence = df.iloc[i]["SentimentText"]

    sentence = sentence.strip()

    words = sentence.split(' ')

    # Function to replace alternately repeated letters with exactly 3 repetitions
    def replace_alternate_repeated_letters(match):
        return match.group(1) * 3

    # Use regular expression to find alternately repeated letters
    sentence = re.sub(r'(.)(?:\1{2,})', replace_alternate_repeated_letters, sentence, flags=re.IGNORECASE)

    # Update the DataFrame with the modified sentence
    df.at[i, 'SentimentText'] = sentence

100000
250000
500000
750000
1000000
1250000
1500000

In [162]:
df

         Sentiment                                      SentimentText
0                0                     is so sad for my APL friend...
1                0                   I missed the New Moon trailer...
2                1                            omg its already 7:30 :O
3                0  .. Omgaga. Im sooo  im gunna CRy. I've been at...
4                0           i think mi bf is cheating on me!!!   T_T
...            ...                                                ...
1578607          1                    ZZZ... Finally! Night tweeters!
1578608          1                             ZZZ, sleep well people
1578609          0                    ZZZ... wait no I have homework.
1578610          0                 ZZZ meh, what am I doing up again?
1578611          0                                        ZZZ, I wish

[1578612 rows x 2 columns]

In [163]:
sentences = []
abbreviations_to_check = df_abbreviations['abbreviation'].tolist()

for i in range(df.shape[0]):

    if i in [100000, 250000, 500000, 750000, 1000000, 1250000, 1500000]:
        print(i) 

    sentence = df.iloc[i]["SentimentText"]
    sentence = sentence.strip()

    # Tokenize the sentence into words
    words = sentence.split(" ")


    # Check if any words are in the abbreviations list
    for word in words:
        word_upper = word.upper()
        if word_upper in abbreviations_to_check:
            # Replace the word with the corresponding meaning
            meaning = df_abbreviations.loc[df_abbreviations['abbreviation'] == word_upper, 'meaning'].iloc[0]
            sentence = sentence.replace(word, f"{meaning}")

    # Update the DataFrame with the modified sentence
    df.at[i, 'SentimentText'] = sentence

# Display the modified DataFrame
print(df)

100000
250000
500000
750000
1000000
1250000
1500000
         Sentiment                                      SentimentText
0                0                     is so sad for my APL friend...
1                0                   I missed the New Moon trailer...
2                1                      Oh my God its already 7:30 :O
3                0  .. Omgaga. Im sooo  im gunna CRy. I've been At...
4                0    i think mi Boyfriend is cheating on me!!!   T_T
...            ...                                                ...
1578607          1                    ZZZ... Finally! Night tweeters!
1578608          1                             ZZZ, sleep well people
1578609          0                    ZZZ... wait no I have homework.
1578610          0          very tired meh, what am I doing up again?
1578611          0                                        ZZZ, I wish

[1578612 rows x 2 columns]

In [164]:
#df.to_csv('df_after_abbr.csv')

In [165]:
for i in range(df.shape[0]):

    if i in [100000, 250000, 500000, 750000, 1000000, 1250000, 1500000]:
        print(i) 

    sentence = df.iloc[i]["SentimentText"]

    # Tokenize the sentence into words
    words = sentence.split(" ")
    words_final = []

    # Remove words starting with "@"
    for word in words:
        if word.startswith('@'):
            words_final.append('||T||')
        else:
            words_final.append(word)

    # Join the words back into a sentence
    sentence = ' '.join(words_final)

    # Update the DataFrame with the modified sentence
    df.at[i, 'SentimentText'] = sentence

# Display the modified DataFrame
df

100000
250000
500000
750000
1000000
1250000
1500000

         Sentiment                                      SentimentText
0                0                     is so sad for my APL friend...
1                0                   I missed the New Moon trailer...
2                1                      Oh my God its already 7:30 :O
3                0  .. Omgaga. Im sooo  im gunna CRy. I've been At...
4                0    i think mi Boyfriend is cheating on me!!!   T_T
...            ...                                                ...
1578607          1                    ZZZ... Finally! Night tweeters!
1578608          1                             ZZZ, sleep well people
1578609          0                    ZZZ... wait no I have homework.
1578610          0          very tired meh, what am I doing up again?
1578611          0                                        ZZZ, I wish

[1578612 rows x 2 columns]

In [166]:
sentences = []
emoticons_to_check = df_emoticon['emoticon'].tolist()

for i in range(df.shape[0]):

    if i in [100000, 250000, 500000, 750000, 1000000, 1250000, 1500000]:
        print(i) 

    sentence = df.iloc[i]["SentimentText"]

    # Tokenize the sentence into words
    words = sentence.split(" ")


    # Check if any words are in the abbreviations list
    for word in words:
        if word in emoticons_to_check:
            # Replace the word with the corresponding meaning
            meaning = df_emoticon.loc[df_emoticon['emoticon'] == word, 'meaning'].iloc[0]
            sentence = sentence.replace(word, meaning)

    # Update the DataFrame with the modified sentence
    df.at[i, 'SentimentText'] = sentence

# Display the modified DataFrame
print(df)

100000
250000
500000
750000
1000000
1250000
1500000
         Sentiment                                      SentimentText
0                0                     is so sad for my APL friend...
1                0                   I missed the New Moon trailer...
2                1                Oh my God its already 7:30 surprise
3                0  .. Omgaga. Im sooo  im gunna CRy. I've been At...
4                0    i think mi Boyfriend is cheating on me!!!   T_T
...            ...                                                ...
1578607          1                    ZZZ... Finally! Night tweeters!
1578608          1                             ZZZ, sleep well people
1578609          0                    ZZZ... wait no I have homework.
1578610          0          very tired meh, what am I doing up again?
1578611          0                                        ZZZ, I wish

[1578612 rows x 2 columns]

In [167]:
for i in range(df.shape[0]):

    if i in [100000, 250000, 500000, 750000, 1000000, 1250000, 1500000]:
        print(i) 

    sentence = df.iloc[i]["SentimentText"]

    # Tokenize the sentence into words
    words = sentence.split(" ")
    words_final = []

    # Remove words starting with "@"
    for word in words:
        if word.startswith('#'):
            words_final.append('||H||')
        else:
            words_final.append(word)

    # Join the words back into a sentence
    sentence = ' '.join(words_final)

    # Update the DataFrame with the modified sentence
    df.at[i, 'SentimentText'] = sentence

# Display the modified DataFrame
df

100000
250000
500000
750000
1000000
1250000
1500000

         Sentiment                                      SentimentText
0                0                     is so sad for my APL friend...
1                0                   I missed the New Moon trailer...
2                1                Oh my God its already 7:30 surprise
3                0  .. Omgaga. Im sooo  im gunna CRy. I've been At...
4                0    i think mi Boyfriend is cheating on me!!!   T_T
...            ...                                                ...
1578607          1                    ZZZ... Finally! Night tweeters!
1578608          1                             ZZZ, sleep well people
1578609          0                    ZZZ... wait no I have homework.
1578610          0          very tired meh, what am I doing up again?
1578611          0                                        ZZZ, I wish

[1578612 rows x 2 columns]

In [168]:
df.to_csv("./data_processed.csv")